#modal-exit-icon {
  height: 35px;
  cursor: pointer;
}

#modal-exit-icon:hover > path {
  fill: #b9b7b7;
}

#modal-exit-icon-container {
  position: absolute;
  right: 16px;
  top: 12px;
}

#add-word-container {
  width: 80vw;
  margin: 35px auto;
}

#add-word-form {
  font-size: 1.4rem;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#add-word-form__word-name-container {
  width: 96%;
  position: relative;
  margin: 15px 15px 25px 0;
}

#add-word-form__word-meaning-container {
  width: 96%;
  position: relative;
  margin: 25px 15px 0 0;
}

#add-word-form__examples-container {
  width: 96%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 27px 0 0 0;
}

#examples-container__notice-max {
  position: absolute;
  top: 29px;
  left: 170px;
  font-size: 1.1rem;
}

#examples-container__title {
  color: #c7dc44;
  margin-bottom: 11px;
  font-size: 1.5rem;
}

#examples-container__add-button {
  position: absolute;
  top: 24px;
  left: 130px;
  grid-row: 1;
  grid-column: 7 / span 2;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#examples-container__add-button:hover > #example-add-button__icon > #example-add-button__path {
  fill: #92a12f;
}

#example-add-button__icon {
  height: inherit;
}

#example-container-1 {
  position: relative;
  margin: 25px 0 25px 0;
}

#example-container-2 {
  position: relative;
  margin: 15px 0 25px 0;
}

#example-container-3 {
  position: relative;
  margin: 15px 0 25px 0;
}

#add-word-form__word-class-container {
  position: relative;
}

#word-class-container__title {
  color: #c7dc44;
  font-size: 1.5rem;
}

#word-class-container__select-word-class {
  position: absolute;
  top: 24px;
  left: 193px;
}

#add-word-form__submit-button {
  background-color: #c46543;
  color: #f1e4e4;
  border: none;
  border-radius: 0.35rem;
  padding: 15px 0;
  width: 90%;
  margin: 10px auto 0;
  cursor: pointer;
}

#add-word-form__submit-button:hover {
  background-color: #aa4c2a;
  color: #ffffff;
}
