@font-face {
  font-family: 'Epilogue';
  font-weight: 300;
  src: url('../src/fonts/Epilogue-Light.ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-weight: 400;
  src: url('../src/fonts/Epilogue-Regular.ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-weight: 400;
  font-style: italic;
  src: url('../src/fonts/Epilogue-Italic.ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-weight: 500;
  src: url('../src/fonts/Epilogue-Medium.ttf');
}

@font-face {
  font-family: 'Epilogue';
  font-weight: 700;
  src: url('../src/fonts/Epilogue-Bold.ttf');
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  background-color: #242b33;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Auth (Sign-up and Login) form */
.form-input {
  z-index: 99;
  padding: 10px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  transition: all ease 0.3s;
  position: relative;
}

.form-input-error {
  z-index: 99;
  padding: 10px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #d4392a;
  outline: none;
  color: #fff;
  transition: all ease 0.3s;
  position: relative;
}

.form-input:focus,
.form-input:valid {
  border-bottom: 1px solid #36b682;
}

.form-input-error:focus,
.form-input-error:valid {
  border-bottom: 1px solid #d4392a;
}

.form-input:focus + .form-label,
.form-input:valid + .form-label {
  color: #36b682;
  top: -19px;
}

.form-label {
  z-index: 0;
  color: #fff;
  position: absolute;
  top: 16px;
  left: 5px;
  transition: all ease 0.3s;
}

.form-label-error {
  z-index: 0;
  color: #d4392a;
  position: absolute;
  top: 16px;
  left: 5px;
  transition: all ease 0.3s;
}

.form-input-error:focus + .form-label-error,
.form-input-error:valid + .form-label-error {
  color: #d4392a;
  top: -19px;
}

.form-error-notice {
  color: #d4392a;
  position: absolute;
  top: -14px;
  font-size: 1rem;
  left: 135px;
}

.form-error-notice__word-meaning {
  left: 169px;
}

/* Modal */
.modal-background {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.75);
}

.modal-content {
  background-color: #242b23;
  margin: 5% auto;
  padding: 15px;
  border: 1px solid #242b23;
  width: 80%;
  position: relative;
}

.modal-exit-icon-container {
  position: absolute;
  right: 16px;
  top: 12px;
}

.modal-content__alert-duplicate {
  color: #d4392a;
  text-align: center;
  font-size: 1.1rem;
}

.modal-exit-icon {
  height: 35px;
  cursor: pointer;
}

.modal-exit-icon:hover > path {
  fill: #b9b7b7;
}

.modal-exit-icon-container {
  position: absolute;
  right: 16px;
  top: 12px;
}

.modal-word-container {
  width: 80vw;
  margin: 35px auto;
}

.modal-word-form {
  font-size: 1.4rem;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal-word-form__word-name-container {
  width: 96%;
  position: relative;
  margin: 15px 15px 25px 0;
}

.modal-word-form__word-meaning-container {
  width: 96%;
  position: relative;
  margin: 25px 15px 0 0;
}

.modal-word-form__examples-container {
  width: 96%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 27px 0 0 0;
}

.examples-container__notice-max-number {
  position: absolute;
  top: 29px;
  left: 170px;
  font-size: 1.1rem;
}

.examples-container__title {
  color: #c7dc44;
  margin-bottom: 11px;
  font-size: 1.5rem;
}

.examples-container__add-button {
  position: absolute;
  top: 24px;
  left: 130px;
  grid-row: 1;
  grid-column: 7 / span 2;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.example-add-button__icon {
  height: inherit;
}

.examples-container__add-button:hover > .example-add-button__icon > path {
  fill: #92a12f;
  transition: all 0.3s ease;
}

.example-container-1 {
  position: relative;
  margin: 25px 0 25px 0;
}

.example-container-2 {
  position: relative;
  margin: 15px 0 25px 0;
}

.example-container-3 {
  position: relative;
  margin: 15px 0 25px 0;
}

input:focus ~ .delete-example-button-container,
input:valid ~ .delete-example-button-container {
  position: absolute;
  top: -20px;
  left: 116px;
  transition: all ease 0.3s;
}

input:not(focus) ~ .delete-example-button-container,
input:not(valid) ~ .delete-example-button-container {
  position: absolute;
  top: 14px;
  left: 116px;
  transition: all ease 0.3s;
}

.delete-example-button {
  position: relative;
  height: 25px;
  cursor: pointer;
  z-index: 100;
}

.delete-example-button:hover > path {
  fill: #b32929;
  transition: fill 0.2s ease;
}

.modal-word-form {
  font-size: 1.4rem;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal-word-form__word-meaning-container {
  width: 96%;
  position: relative;
  margin: 25px 15px 0 0;
}

.modal-word-form__word-class-container {
  position: relative;
}

.modal-word-form__examples-container {
  width: 96%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 27px 0 0 0;
}

.word-class-container__title {
  color: #c7dc44;
  font-size: 1.5rem;
}

.word-class-container__select-word-class {
  position: absolute;
  top: 15px;
  left: 193px;
  color: #fff;
  border-radius: 0.3rem;
  width: 200px;
  cursor: pointer;
}

.word-formality-container {
  margin: 20px 0;
  color: #c7dc44;
}

.not-formal-button-container {
  margin-right: 20px;
}

.word-class-container__select-word-class:hover {
  box-shadow: 0 0 2px 4px #2063b9;
  background: url('./img/select-arrow-down-white.svg') no-repeat 95% 50%;
}

.modal-word-form__submit-button {
  background-color: #c46543;
  color: #f1e4e4;
  border: none;
  border-radius: 0.35rem;
  padding: 15px 0;
  width: 90%;
  margin: 10px auto 0;
  cursor: pointer;
}

.modal-word-form__submit-button:hover {
  background-color: #aa4c2a;
  color: #ffffff;
}

.modal-word-form__submit-button:disabled {
  background-color: #72321a;
  color: #b6acac;
  cursor: not-allowed;
}

/* select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('./img/select-arrow-down.svg') no-repeat 95% 50%;
  width: 170px;
  padding: 0.4em 0.5em;
  font-family: inherit;
  border: 1px solid #fff;
}

/* remove native arrow icon in IE 10, 11 */
select::-ms-expand {
  display: none;
}

option {
  color: #000;
}
